<ion-header>

  <ion-navbar>
  	<button ion-button  menuToggle="menuOrders">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mesas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
	  <ion-label>Planta</ion-label>
	  <ion-select [(ngModel)]="floor" (ionChange)="onChange()">
	    <ion-option value="{{f.id}}" *ngFor="let f of tpv.floors">{{f.name}}</ion-option>
	  </ion-select>
	</ion-item>
	<ion-list>
 
	    <button detail-none class="table" ion-item *ngFor="let table of tables" (click)="chooseTable(table)">
	      {{table.name}}
	    </button>
 
  </ion-list>
</ion-content>
