page-products-page {

	.cardd {
		width: 50%;
		height: 35%;
		margin: auto;
		text-align: center;
		float:left;
	}

	.img-card {
		width: 50%;
		margin: auto;
	}

	


}
.toast {
	width: 50%;
	margin-left: 6em;
}
