<ion-menu id="menuOrders" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Comandas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let o of tpv.orders">
        <ion-label (click)="openOrder(o)">{{o.floor.name}} - {{o.table.name}}</ion-label>
        <button class="btn-remove-order" icon-only item-right (click)="removeOrder(o)"><ion-icon name="trash"></ion-icon></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="menuCategories" side="right" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Categorías</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let c of tpv.categories" (click)="chooseCategory(c)">
        {{c.name}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>

